{% if crumbs|length %}
<nav class="kb-breadcrumbs" aria-label="Breadcrumb">
    <ol>
        {% for crumb in crumbs %}
            <li>
                {% if crumb.url and not loop.last %}
                    <a href="{{ crumb.url }}">{{ crumb.label }}</a>
                {% else %}
                    <span>{{ crumb.label }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}
